* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}

[class^="box-"] {
  background-color: skyblue;

  /* To place the letter at the center */
  display: grid;
  place-items: center;
  grid-column: span 1;
}

.container {
  display: grid;
  gap: 25px;
  height: 100vh;

  /* // each box has equal size */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 300px auto;
  grid-template-areas:
    "header content"
    "header sidebar";
}
.box-1 {
  grid-row: header/header;
  grid-column: header/header;
}
.box-2 {
}
.box-3 {
}
