html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 424px;
	padding: 0 16px;
	margin: 0 auto;
	background-color: rgb(194, 240, 181);
	outline: 2px solid rgb(55, 44, 184);
}
